body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #000428, #004e92);
  color: white;
  text-align: center;
  padding-top: 100px;
}

.container {
  background: #111;
  width: 300px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px cyan;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: cyan;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #00c3cc;
}